name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: us-east-1 # your region
  ECR_REPOSITORY: sentiment-app-ci-cd # your ecr repository name
  S3_BUCKET: mlops-lab11-models-tzapart # your s3 bucket name

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: uv sync --frozen --group integration
      
      - name: Run ruff check
        uses: uv run ruff check .
        
      - name: Run pytest
        run: uv run pytest tests


      
